
  body{background:#f2f2f2;  }
  div[class*="col"]{padding-left:5px; padding-right:5px;} 
  .area-padding {padding:60px 0px 60px 0px;}
  .area-padding2 {padding:20px 0px 20px 0px;}
  h1,h2,h3  {font-weight:700;}
  a{color:#b9b9b9;}
  a:hover{color:#dd0000;}
  span{color:#dd0000;}
  i {color:#dd0000;}
  li {line-height:26px;}
  li i {padding-right:10px;}
  .x8 {font-size:80px;}
  .x10 {font-size:350px;}
  .x4 {font-size:40px;}
  .bg-white {background:#fff;}
  .bg-yellow {background:#e7e7e7;color:#696969;}
  .green {color:#27db99;}
  .spacer-tp-70{margin-top:110px;}
  .spacer-bp-50{padding-bottom:50px;}
  .shadow-depth1{box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);padding:15px;}
  .shadow-depth1:hover {background:#f7f7f7;}
  .well {background: #fff; min-height: 50px;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);position: relative;margin-bottom:5px;padding-bottom: 30px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;    border-radius: 2px;}
  
  .ratings i {color:#ffda6b;}
  .affix {top: 0; width: 100%;z-index: 9999 !important;}
  .affix + .container-fluid {padding-top: 70px;}
  /********* Dashboard Stats box **********/
  .border-1 {border:1px solid #e2e2e2;}
  .pad-20 {padding:10px;}
  .stats-box {min-height:120px;}
  .stats-box:hover {background:#f2f2f2;color:#dd0000;}
 
  
  
  

  .dropdown-menu {padding:0px;}
  .dropdown-menu > li > a {
  color: #514f4f;
  text-decoration: none;
  background-color: #fff   ;
  } 
  
  
  

  .dropdown-menu {padding:0px;}
  .dropdown-menu > li > a {
  color: #514f4f;
  text-decoration: none;
  background-color: #fff   ;
  }
  .dropdown-menu > li > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #dd0000     ;
  }
  .dropdown-menu > li > a {padding:8px; border-bottom:1px solid #e2e2e2;}
  .navbar-brand > img {
      height: 250%;
      padding-bottom: 10px;
      width: auto;
  }
  .navbar-default {
    background-color: #ffffff;
    border-color: #dd0000;
    padding:20px 0px 10px 0px;
    border-bottom:1px solid #dd0000;
    font-weight:600;
    letter-spacing:1px;
    font-size:16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  .navbar-default .navbar-brand {
    color: #33373d;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #dd0000;
  }
  .navbar-default .navbar-text {
    color: #33373d;
  }
  .navbar-default .navbar-nav > li > a {
    color: #33373d;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #dd0000;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #dd0000;
    background-color: #ffffff;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #dd0000;
    background-color: #ffffff;
  }
  .navbar-default .navbar-toggle {
    border-color: #ffffff;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #33373d;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #33373d;
  }
  .navbar-default .navbar-link {
    color: #33373d;
  }
  .navbar-default .navbar-link:hover {
    color: #dd0000;
  }
  
  
  .dropdown-menu > li > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #dd0000     ;
  }
  .dropdown-menu > li > a {padding:8px; border-bottom:1px solid #e2e2e2;}
  .navbar-brand > img {
      height: 250%;
      padding-bottom: 10px;
      width: auto;
  }
  .navbar-default {
    background-color: #ffffff;
    border-color: #dd0000;
    padding:20px 0px 10px 0px;
    border-bottom:1px solid #dd0000;
    font-weight:600;
    letter-spacing:1px;
    font-size:16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  .navbar-default .navbar-brand {
    color: #33373d;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #dd0000;
  }
  .navbar-default .navbar-text {
    color: #33373d;
  }
  .navbar-default .navbar-nav > li > a {
    color: #33373d;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #dd0000;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #dd0000;
    background-color: #ffffff;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #dd0000;
    background-color: #ffffff;
  }
  .navbar-default .navbar-toggle {
    border-color: #ffffff;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #33373d;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #33373d;
  }
  .navbar-default .navbar-link {
    color: #33373d;
  }
  .navbar-default .navbar-link:hover {
    color: #dd0000;
  }

  .table1{
    
    margin-top: 30px;
    margin-left: 100px;
    
  }
  thead{
    background: #27db99;
  }
  .btn1{
    width: 40px;
    height: 20px;
    background: #27db99;
    border-radius: 5px;
  }
  .btn2{
    width: 60px;
    height: 20px;
    background: #ca1508;
    border-radius: 5px;
  }
  .search{
   margin-left: 100vh;
   border-radius: 10px;
  }
  .form{
    margin-left: 100vh;
  }
.btn11{
    margin-top: 10px;
    position: relative;
    margin-left: 50px;
}